<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tests</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="student-container">
    <div class="topbar">
        <h1>Доступные тесты</h1>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div>

    <div th:if="${message}" class="success" th:text="${message}"></div>

    <div class="topic-grid">
        <div class="card" th:each="topic : ${topics}">
            <h3 th:text="${topic.name}"></h3>
            <a th:href="@{'/student/tests/' + ${topic.id}}">Начать тест</a>
        </div>
    </div>
</div>
</body>
</html>