<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{students.title}">Students</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="layout">
    <aside class="sidebar">
        <h2 th:text="#{admin.panel}">Admin Panel</h2>

        <div class="lang-switch">
            <a th:href="@{?lang=en}">🇬🇧</a>
            <a th:href="@{?lang=ru}">🇷🇺</a>
            <a th:href="@{?lang=kk}">🇰🇿</a>
        </div>

        <a th:href="@{/admin/dashboard}" th:text="#{menu.dashboard}">Dashboard</a>
        <a th:href="@{/admin}" class="active" th:text="#{menu.content}">Контент</a>
        <a th:href="@{/admin/students}" th:text="#{menu.students}">Список студентов</a>

        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout-btn" th:text="#{menu.logout}">Logout</button>
        </form>
    </aside>

    <main class="content">
        <h1 th:text="#{level.choose}">Выберите уровень</h1>

        <div class="levels">
            <a th:each="lvl : ${levels}"
               th:href="@{/admin/level/{lvl}(lvl=${lvl})}"
               th:text="${lvl}"
               class="level-card">
            </a>
        </div>

    </main>
</div>
</body>
</html>